.product {
    width: 300px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product > img {
    height: 170px;
    border-radius: 8px;
}

.product__info > p {
    margin-bottom: 8px;
}

.product__price {
    font-weight: bold;

}

.product__name {
    font-size: 1rem;
    overflow: hidden;
}

.product__description {
    font-size: 0.8rem;
}

.product__button {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: #171717;
    background-color: #f4f4f4;
    padding: 8px 16px;
    border: 1px solid #171717;
    font-size: 1rem;
}
.product__button:hover {
    background-color: #171717;
    color: #f4f4f4;

}

@media (max-width: 1232px) {
    .product {
        width: 360px;
    }
}
@media (max-width: 1115px) {
    .product {
        width: 330px;
    }
}
@media (max-width: 1028px) {
    .product {
        width: 300px;
    }
}
@media (max-width: 950px) {
    .product {
        width: 400px;
    }
}

@media (max-width: 830px) {
    .product {
        width: 330px;
    }
}